.com-trending-stores {
  .-bd {
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      &::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
      }
      margin-right: -10px;
      li {
        float: left;
        text-align: center;
        padding-right: 10px;
        width: 50%;
        margin-bottom: 10px;
        .--inner {
          border: 1px solid #eee;
          a {
            height: 50px;
            text-align: center;
            justify-content: center;
            padding: 10px;
            img {
              max-height: 100%;
            }
          }
          background-color: white;
          padding: 10px;
          span {
            display: block;
            padding: 5px 0;
          }
        }
      }
    }
  }
}
