.btn {
  @include button-reset;
  background-color: #1890ff;
  color: white;
  border: 1px solid #1890ff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  height: 38px !important;
  line-height: 36px !important;
  padding: 0 20px !important;
  &:hover,
  &:focus {
    color: #1890ff;
    border-color: currentColor;
    background-color: white;
  }
  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
}

.space {
  > * {
    display: inline-block;
    margin-right: 10px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
