*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  width: 100%;
}
table th {
  background-color: #eee;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}
table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

input,
select {
  border: 1px solid #9e9e9e;
  padding: 2px 5px;
  border-radius: 3px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}
